<h3>Know of a pet needing a home?</h3>
<form>
  <p *ngIf="error && error.name" style="color: red;">{{error.name.message}}</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Pet name:</span>
    </div>
    <input name="newPet.name" type="text" class="form-control" [(ngModel)]="newPet.name">
  </div>
  <p *ngIf="error && error.type" style="color: red;">{{error.type.message}}</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Pet type:</span>
    </div>
    <input name="newPet.type" type="text" class="form-control" [(ngModel)]="newPet.type">
  </div>
  <p *ngIf="error && error.description" style="color: red;">{{error.description.message}}</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Description:</span>
    </div>
    <input name="newPet.description" type="text" class="form-control" [(ngModel)]="newPet.description">
  </div>
  <div>
    <h6>Skills:</h6>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Skill 1:</span>
      </div>
      <input name="newPet.skill1" type="text" class="form-control" [(ngModel)]="newPet.skill1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Skill 2:</span>
      </div>
      <input name="newPet.skill2" type="text" class="form-control" [(ngModel)]="newPet.skill2">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Skill 3:</span>
      </div>
      <input name="newPet.skill3" type="text" class="form-control" [(ngModel)]="newPet.skill3">
    </div>
  </div>
  <button class="btn btn-outline-success" (click)="onSubmit()">Add pet</button>
  <button class="btn btn-outline-danger" [routerLink]="['/']">Cancel</button>
</form>